<p id="notice"><%= notice %></p>

<h2><%= @forum.title %></h2>


<table cellpadding="10px" border="1" width="100%">
  <% x=1 %>
  <tr>
    <td width="10%"><%= @forum.name %> profile</td>
    <td width= "90%"><strong>by <%= @forum.name %> at <%= @forum.created_at.localtime.strftime(" at %H:%M on %d/%m/%Y") %></strong><br />
    <%= @forum.content %><br />
    <%= @forum.created_at.localtime.strftime("Edited at %H:%M on %d/%m/%Y") if @forum.created_at !=@forum.updated_at%><br />
    </td>   
  </tr>
  
  <% (@forum.topics.sort_by(&:created_at)).each do |topic| %>
  <% x=x+1 %>
  <tr>
    <td><%= topic.name %> profile</td>
    <td><strong>by <%= topic.name %> at <%= topic.created_at.localtime.strftime(" at %H:%M on %d/%m/%Y") %></strong><br />
    <%= topic.title %><br />
    <%= topic.created_at.localtime.strftime("Edited at %H:%M on %d/%m/%Y") if topic.created_at !=topic.updated_at%><br />
    <%= link_to 'Destroy Topic', [topic.forum, topic], :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  
<% end %>
</table>

<h2>Add a Post: </h2>

<%= form_for ([@forum, @forum.topics.build])  do |f| %>
  <%= f.hidden_field :forum_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>  
  <div>
    <%= f.submit %>
  </div> 
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', subject_path(@forum.subject) %>
