<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forum.name %>
</p>

<p>
  <b>Title:</b>
  <%= @forum.title %>
</p>

<p>
  <b>Content:</b>
  <%= @forum.content %>
</p>

<h2>Threads</h2>
<% @forum.topics.each do |topic| %>
<p>
  <b>User:</b>
  <%= topic.name %>
  </p>

<p>
  <b>Topic:</b>
  <%= topic.title %>
  </p>
<% end %>

<h2>Add a Thread:</h2>

<%= form_for ([@forum, @forum.topics.build])  do |f| %>
  <%= f.hidden_field :forum_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.submit %>
  </div> 
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
