<p><%= link_to 'Forums', subjects_path %> > <%= link_to @forum.subject.title, subject_path(@forum.subject) %> > <%=@forum.title %></p>

<h2><%= @forum.title %></h2>


<table cellpadding="10px" border="1" width="100%">
  <% x=1 %>
  <tr>
    <td width="10%"><img src="<%
      if @forum.user!=nil %>
        <% if @forum.user.avatar.url !=nil %>
          <%=@forum.user.avatar.url(:thumb) %>
        <% else %>
          <%=@forum.user.imageurl %>
        <% end %>
      <% end %>" alt="<%=@forum.user.username if @forum.user!=nil %>" width="100" /><br />
    <% if @forum.user!=nil %><%= link_to @forum.user.username, @forum.user %><%else%><%= @forum.name %><% end %>'s profile<br />
    <em><% if @forum.user!=nil %><%=@forum.user.topics.count+@forum.user.forums.count%> posts<% end %></em>
    </td>
    <td width= "90%">
      <strong>by
      <%stoppit=0 %>
        <% @users.each do |u|%>
          <% if u.username==@forum.name and current_user!=nil %>
            <%= link_to u.username, u %>
            <% stoppit= 1 %>
          <% end %>
        <% end %>
      <%= @forum.name if stoppit==0 %>      
      
      at <%= @forum.created_at.in_time_zone(Time.zone).strftime(" at %H:%M on %d/%m/%Y") %></strong><br />
    <%= raw(@forum.content) %><br />
    </td>   
  </tr>
  <tr><td colspan=2><strong>Replies</strong></td></tr>
  
  <% (@topics.sort_by(&:created_at)).each do |topic| %>
  <% x=x+1 %>
  <tr>
    <td><img src="<%
      if topic.user!=nil %>
        <% if topic.user.avatar.url !=nil %>
          <%=topic.user.avatar.url(:thumb) %>
        <% else %>
          <%=topic.user.imageurl %>
        <% end %>
      <% end %>" alt="<%=topic.user.username if topic.user!=nil %>" width="100" /><br />
    <% if topic.user!=nil %><%= link_to topic.user.username, topic.user %><%else%><%= topic.name %><% end %>'s profile<br />
    <em><% if topic.user!=nil %><%=topic.user.topics.count+topic.user.forums.count%> posts<% end %></em> 
    </td>
    <td><strong>by <% if topic.user!=nil %><%= link_to topic.user.username, topic.user %><%else%><%= topic.name %><% end %> at <%= topic.created_at.in_time_zone(Time.zone).strftime(" at %H:%M on %d/%m/%Y") %></strong><br />
    <%= raw(topic.title) %><br />
    <%= topic.updated_at.in_time_zone(Time.zone).strftime("Edited at %H:%M on %d/%m/%Y") if topic.created_at !=topic.updated_at%><br />
    <% if current_user!=nil %>
      <% if current_user.username==topic.name or current_user.admin? %>
        <%=link_to 'Destroy Post', [topic.forum, topic], :confirm => 'Are you sure?', :method => :delete %>

      <% end %>
    <% end %>
    </td>
  </tr>
  
<% end %>
</table>

<%= will_paginate @topics %>

<% if current_user!=nil %>
  
<h3><a href="#" onclick="return false" class="displayform"> Add a new Post</a></h3>

<div class="jsappear">

<%= form_for ([@forum, @forum.topics.build])  do |f| %>
  <%= f.hidden_field :forum_id %>
  <%= f.hidden_field :name, :value=> current_user.username %>
  <%= f.hidden_field :user_id, :value=> current_user.id %>
  <div class="field">
    <%= f.label :post %><br />
    <%= f.text_area(:title, :size => '60x3', :class => 'widgEditor', :html => "") %>
  </div>  
  <div>
    <%= f.submit("Submit Post") %>
  </div> 
<% end %>

</div>

<% else %>
  <h3><%= link_to "Sign in", new_user_session_path %> to add a post</h3>
<% end %>

<%= # link_to 'Edit', edit_forum_path(@forum)
%>
<%= link_to 'Back', subject_path(@forum.subject) %>
