<h1>Listing users</h1>
  <table>
    <tr>
      <th>Avatar</th>        
      <th>Username</th>
      <th>Number of Posts</th>
      <th>Time Zone</th>
      <th>Location</th>
      <% if current_user.admin? %>    
        <th>Email</th>
        <th>Admin</th>
        <th></th>
      <% end %>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><img src="<%=user.imageurl %>" alt="<%=user.username %>" width="50" /></td>
      <td><strong><%= link_to user.username, user %></strong><br />Joined <%=user.created_at.strftime("%d/%m/%Y")%> 
      </td>
      <td><%=user.topics.count+user.forums.count %></td>
      <td><%=user.time_zone %></td>
      <td><%=user.address %></td>
      <% if current_user.admin? %>
        <td><%=user.email%></td>
        <td><%="Yes" if user.admin? %></td>  

        <td>
          <%unless user==current_user %>
            <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
            <% if user.admin? %>
            <%= form_for user do |t| %>
              <%= t.hidden_field :admin, :value=>"false" %>
              <%= t.submit "Revoke Admin" %>
            <% end %>
            <% else %>
             <%= form_for user do |t| %>
              <%= t.hidden_field :admin, :value=>"true" %>
              <%= t.submit "Make Admin" %>
            <% end %>
          <% end %>

          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
</table>
<div id="googlemappy">
<%= gmaps4rails(@json) %>
</div