
<h1><%= @subject.title %></h1>
<strong><%= raw(@subject.description) %></strong>
    <%= form_tag subject_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
<h2>Threads</h2>
<table cellpadding="10px" border="1" width="100%">
  <tr>
  <th>Thread</th>
  <th>Replies</th>
  <th>Last Post</th>
  <% if current_user!=nil %>
    <% if current_user.admin? %>
      <th></th>
    <% end %>
  <% end %>
  </tr>
  <tr>
  <%if @forums.count <1 %>
    <td colspan=<% if current_user.admin? %>"4"<% else %>"3"<% end %>>No threads found</td>
  <% end %>  
  <% (@forums.sort_by(&:updated_at).reverse).each do |forum| %>
    <% x=0 %>      
    <% x=x+forum.topics.count %>
    <% name = "" %>
    <% y=Time.at(0) %>
    
    
      <td><%= link_to forum.title, forum_path(forum) %><br />
      By
      <%stoppit=0 %>
      <% @users.each do |u|%>
          <% if u.username==forum.name and current_user!=nil %>
            <%= link_to u.username, u %>
            <% stoppit= 1 %>
          <% end %>
        <% end %>
      <%= forum.name if stoppit==0 %>
       at <%= forum.created_at.in_time_zone(Time.zone).strftime(" at %H:%M on %d/%m/%Y")  %><br /></td>
      
      <td><em><%=x %> post<%="s" if x!=1 %></em></td>
      
      <td>      
      <% forum.topics.each do |tim| %>
        <% if tim.updated_at>y %>
          <% y=(tim.updated_at).in_time_zone(Time.zone) %>
          <% name=tim.name %>
        <% end %>
      <% end %>

      <% if x!=0 %>
        by 
      <%stoppit=0 %>
        <% @users.each do |u|%>
          <% if u.username==name and current_user!=nil %>
            <%= link_to u.username, u %>
            <% stoppit= 1 %>
          <% end %>
        <% end %>
      <%= name if stoppit==0 %>
      
        <%=y.strftime(" at %H:%M on %d/%m/%Y")  %>
      <% else %>
        <%="No posts here yet :-" %>&#040
      <% end %>
      </td>
      <% if current_user!=nil %>
        <% if current_user.admin? %>
          <td><%= link_to 'Destroy Thread', [forum.subject, forum], :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      <% end %>
      
    
    </tr>
  <% end %>
</table>

<%= will_paginate @forums %>

<% if current_user!=nil %>

  <h3><a href="#" onclick="return false" class="displayform"> Add a new Thread</a></h3>

  <div class="jsappear">
  <%= form_for ([@subject, @subject.forums.build])  do |f| %>
    <%= f.hidden_field :subject_id %>
    <%= f.hidden_field :name, :value=> current_user.username %>
    <%= f.hidden_field :user_id, :value=> current_user.id %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
          <%= f.text_area(:content, :size => '60x3', :class => 'widgEditor', :html => "") %>
    </div>  
    <div>
      <%= f.submit("Create Thread") %>
    </div> 
  <% end %>

  </div>

<% else %>
  <h3><%= link_to "Sign in", new_user_session_path %> to add a thread</h3>
<% end %>

<%= # link_to 'Edit', edit_subject_path(@subject)
%>
<%= link_to 'Back', subjects_path %>
