
<h1><%= @subject.title %></h1>
<strong><%= @subject.description %></strong>

<h2>Threads</h2>
<table cellpadding="10px" border="1" width="100%">
  <tr>
  <th>Thread</th>
  <th>Replies</th>
  <th>Last Post</th>
  <% if current_user!=nil %>
    <% if current_user.admin? %>
      <th></th>
    <% end %>
  <% end %>
  </tr>
  <tr>
  <% (@subject.forums.sort_by(&:updated_at).reverse).each do |forum| %>
    <% x=0 %>      
    <% x=x+forum.topics.count %>
    <% name = "" %>
    <% y=Time.at(0) %>
    
    
      <td><%= link_to forum.title, forum_path(forum) %><br />
      By <%= forum.name %> at <%= forum.created_at.localtime .strftime(" at %H:%M on %d/%m/%Y")  %><br /></td>
      
      <td><em><%=x %> post<%="s" if x!=1 %></em></td>
      
      <td>      
      <% forum.topics.each do |tim| %>
        <% if tim.updated_at>y %>
          <% y=(tim.updated_at).localtime %>
          <% name=tim.name %>
        <% end %>
      <% end %>

      <% if x!=0 %>
        by <%=name %>
        <%=y.strftime(" at %H:%M on %d/%m/%Y")  %>
      <% else %>
        <%="No posts here yet :-" %>&#040
      <% end %>
      </td>
      <% if current_user!=nil %>
        <% if current_user.admin? %>
          <td><%= link_to 'Destroy Thread', [forum.subject, forum], :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      <% end %>
      
    
    </tr>
  <% end %>
</table>

<% if current_user!=nil %>

  <h3><a href="#" onclick="return false" class="displayform"> Add a new Thread</a></h3>

  <div class="jsappear">
  <%= form_for ([@subject, @subject.forums.build])  do |f| %>
    <%= f.hidden_field :subject_id %>
    <%= f.hidden_field :name, :value=> current_user.username %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </div>  
    <div>
      <%= f.submit("Create Thread") %>
    </div> 
  <% end %>

  </div>

<% else %>
  <h3><%= link_to "Sign in", new_user_session_path %> to add a thread</h3>
<% end %>

<%= # link_to 'Edit', edit_subject_path(@subject)
%>
<%= link_to 'Back', subjects_path %>
